.category-card {
  max-height: 45rem;
  @extend .position-relative, .overflow-hidden, .cursor-pointer;

  &::after {
    content: "";
    background: linear-gradient(
      to top,
      rgba(61, 65, 70, 80%) 5%,
      rgba(13, 110, 253, 0.1)
    );
    width: 96%;
    @extend .position-absolute, .h-100, .top-0, .start-50, .translate-middle-x;
  }
  &__title {
    @extend .position-absolute,
      .top-50,
      .start-50,
      .z-3,
      .fs-1,
      .text-center,
      .text-light,
      .translate-middle;
  }
  & img {
    @extend .img-resize;
  }
}
