.form-label,
a,
.btn {
  @extend .fs-4;
}

// Btn
.btn {
  @extend .py-2, .px-3;
}

// Form control
.form-control {
  @extend .fs-4, .py-3;
}

// Message
.form-text {
  @extend .fs-4;
}

// Center with flex
.flex-center {
  @extend .d-flex, .align-items-center, .justify-content-center;
}

// Center vertically and end horizontally with flex
.flex-end-center {
  @extend .d-flex, .align-items-center, .justify-content-end;
}

// Badge for numbers
.badge {
  width: 3rem;
  height: 3rem;

  @extend .flex-center,
    .position-absolute,
    .top-0,
    .end-0,
    .translate-middle,
    .rounded-circle,
    .bg-primary;
}
.dropdown-toggle {
  @extend .border-0, .bg-light;
}
.dropdown-menu {
  @extend .w-25p;
}
.toast-alert {
  @extend .fs-4;

  & .go2072408551 {
    max-width: initial;
  }
}
