.img-150 {
  max-width: 15rem;
}
.img-100 {
  max-width: 10rem;
}
.img-resize {
  object-position: top;
  @extend .img-fluid, .object-fit-cover, .w-100, .h-100;
}
.cursor-pointer {
  cursor: pointer;
}
.truncate-par {
  @include truncate;
}
.truncate-head {
  @include truncate(1);
}
