$utilities: (
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      72: 7.2rem,
      1vh: 100vh,
      slide: calc(100vh - 8rem),
      150: 15rem,
      auto: auto,
    ),
  ),
  "max-height": (
    property: max-height,
    class: maxh,
    values: (
      300: 30rem,
      80: 8rem,
      590: 59rem,
    ),
  ),
  "text-decoration": (
    property: text-decoration,
    class: td,
    values: (
      through: line-through,
      none: none,
    ),
  ),
  "width": (
    property: width,
    class: w,
    values: (
      100: 100%,
      25p: 25rem,
    ),
  ),
  "max-width": (
    property: max-width,
    responsive: true,
    class: maxw,
    values: (
      50p: 50%,
    ),
  ),
);
