$utilities: (
  "height": (
    property: height,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      72: 7.2rem,
      1vh: 100vh,
      auto: auto,
    ),
  ),
  "max-height": (
    property: max-height,
    class: maxh,
    values: (
      300: 30rem,
    ),
  ),
  "text-decoration": (
    property: text-decoration,
    class: td,
    values: (
      through: line-through,
      none: none,
    ),
  ),
  "width": (
    property: width,
    class: w,
    values: (
      100: 100%,
      25p: 25rem,
    ),
  ),
);
