@import "./_variables";
@import "./_utilities";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixins";
@import "./_extends";
@import "./_helpers";
@import "./_card";
@import "./_slider";

html {
  font-size: map-get($font-base, normal);

  @media (max-width: 48rem) {
    font-size: 55%;
  }
}

.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
}

a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  color: #ffffff;
  background-color: #007bff;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
